__pycache__/
backups/
.idea/
.vscode/
*.jpeg
*.png
!curso/lista de exercícios 1 - pág 1.png
!curso/Álgebra Linear.png

# Ignore all pdf files in the root directory
/*.pdf

# Generated output directories
html_output/
markdown_output/
output/
